@tailwind base;
@tailwind components;
@tailwind utilities;

.centrar {
  display: grid;
  place-content: center;
}

.App-header {
  min-height: 100vh;
  --s: 200px;
  /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background:
    repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
  /* 0.577 = tan(30deg)*/
}

/* Rotacion de un elemento*/

.container-rotate {
  background-color: rgb(83, 34, 34);
  perspective: 700px;

}

.rotate {
  transform: rotateY(40deg);
  transition: 2s;

}

.image-rotate {
  -webkit-box-shadow: 50px 50px 10px #999;
  -moz-box-shadow: 10px 10px 10px #999;
  /* filter: shadow(color=#999999, direction=135, strength=2); */
}

/*.-----------------------------*/

.gradient-row{
  background: -webkit-linear-gradient(0deg, #252525 20%, #7c7c7c 90%);
}

.img-chess{
  -webkit-box-shadow: 0px 20px 10px 10px #999;
}

.img-chess2{
  height: 600px;
  z-index: 5;
}

.chess-piece{
  background-color: rgba(29,29,29,255);
}

.prueba{
  background-color: #727caa;
}